.orders {
    width: 100%;
    border-collapse: collapse;
}

.orders th, .orders td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

.orders th {
    background-color: #f8f8f8;
}

.orders tr:nth-child(even) {
    background-color: #f2f2f2;
}
