{% extends "layout.html" %}

{% block title %}Card Detail{% endblock %}

{% block content %}
<h1>{{ card.card_name }}</h1>
<p>Artist: {{ card.artist }}</p>
<p>Group: {{ card.group }}</p>
<p>Album: {{ card.album }}</p>
<p>Description: {{ card.description }}</p>
<p>Price: ${{ card.price }}</p>
<img src="{{ card.image_url }}" alt="{{ card.card_name }}">
<form method="POST" action="{{ url_for('orders.add_to_cart', card_id=card.id) }}">
    <button type="submit">Add to Cart</button>
</form>
{% endblock %}
